{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block content %}
 

<div class="page-heading about-heading header-text" style="background-image: url(https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>about us</h4>
            <h2>our company</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Get to know us a bit more</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="https://images.pexels.com/photos/5668869/pexels-photo-5668869.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>Looking for a job in the super market industry?</h4>
            <p>Our job vacancy portal is the perfect platform for job seekers who are interested in pursuing a career in this field. Our portal is dedicated to helping job seekers connect with top employers in the industry and access a variety of job openings across different roles.

              We understand that finding a job in the super market industry can be a daunting task, but our platform makes it easier for you to discover job openings that fit your experience and career goals. Our job listings cover a wide range of positions, from entry-level store associates to senior management roles.</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">

          <h5>What we believe in</h5>

          <p>At our job vacancy portal, you can browse through job listings that are tailored to your experience, location, and career goals. You can also apply directly through the portal, making the job application process quick and easy. Plus, you'll receive updates on new job openings as they become available, so you can stay up-to-date on the latest employment opportunities in the industry.

            Our job vacancy portal is designed to help job seekers find their dream job in the super market industry. We pride ourselves on providing a user-friendly platform that is easy to navigate and offers a wide range of job opportunities. Whether you're looking for a full-time position, a part-time job, or a temporary contract, our job vacancy portal has something for everyone.
            
            In summary, our job vacancy portal for the super market industry is the perfect resource for job seekers who are serious about finding their next job. With a variety of job listings, a user-friendly interface, and regular updates, our platform makes it easier than ever to connect with top employers and discover exciting job opportunities in the super market industry.</p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}